*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   }

.container-header{
    width: 100%;
    background-color:transparent;
    padding: 2rem;
}

.container-pages{
    width: 75%;
    margin-left: 10%;
    text-align: center;
    position:absolute;
    padding-top:8px ;
}

.container-pages a{
    text-decoration: none;
    color: white;
    border-right: 1px solid white;
    padding-right: 1rem;
    padding-left: 1rem;
}

.container-pages a:nth-child(3){
    border: none;
}



.container-redes{
    width: 100%;
     text-align: right;
     
    }

.container-redes a{
    font-size: 1.5rem;
    padding-right: 10px;
    color:white;
    
}
.container-redes a:nth-child(3){
    font-size: 1.7rem;
}

.redes{
    cursor: pointer;
}

@media (max-width:1000px) {

    .container-pages{
        width: 70%;
        margin-left: 10%;
        text-align: center;
        position:absolute;
        padding-top:5px ;
    }

    .container-redes{
        width: 100%;
        display: flex;
        flex-direction: column;
         
        }

        .container-redes a{
            font-size: .8rem;
            color:white;
        }

        .container-redes a:nth-child(3){
            font-size: .9rem;
        }
    
}