.App {
  background-image: url('./components/assets/fondored.jpg');
  height: 100%;
  background-size: cover;
  background-position: center;
  font-family: montserrat;
}

.container-principal-proyectos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 5rem;
  height: 650px;
  margin-left: 10%;
  margin-right: 10%;
}

.titulo-certificados {
  color: white;
  padding: 10px;
  margin-left: 50px;
}

.container-certificados {
  position: absolute;
  display: inline;
}

.container-skills {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
  color: white;
  margin-left: 50%;
}

@media (max-width: 1000px) {
  .container-principal-proyectos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 3.3rem;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
  }
  .container-certificados {
    position: relative;
    display: block;
  }

  .container-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    color: white;
    margin-left: 50px;
    margin-top: 50px;
  }
}
